@charset "UTF-8";

form {
	width: 	600px;
	margin: auto;
}

input, textarea {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
}

input:hover, textarea:hover {
		background-color: #dddddd;
}

legend {
	color: #888888;
	font-weight: bold;
	font-size: 13;
	font-family: sans-serif;
}

fieldset {
	border-color: #cecece;
	margin: 20px;
	background: url("../_imagens/icone-contato.png");
}

fieldset#sexo {
	width: 150px;
	margin: 40px;
}


